<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <onepay>
                <active>0</active>
                <model>Efom\OnePay\Model\OnePay</model>
                <order_status>pending</order_status>
                <title>OnePAY Domestic</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </onepay>
            <onepayinternational>
                <active>0</active>
                <model>Efom\OnePay\Model\OnePayInternational</model>
                <order_status>pending</order_status>
                <title>OnePAY International</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </onepayinternational>

        </payment>
    </default>
</config>
